<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="dark-mode">
        <div class="container">
            <h1>Todo List</h1>
            <form action="/add_task" method="POST">
                <input type="text" name="task" placeholder="Enter a new task" />
                <button type="submit">Add Task</button>
            </form>
            <ul>
                {% for task in tasks %}
                    <li>
                        <div class="task">
                            <input type="checkbox" class="checkbox" {% if task.completed %}checked{% endif %}
                                onchange="window.location.href='{{ url_for('toggle_task', task_index=loop.index0) }}';">
                            <span class="task-description {% if task.completed %}completed{% endif %}">
                                {{ task.description }}
                            </span>
                        </div>
                        <a class="delete-link" href="{{ url_for('delete_task', task_index=loop.index0) }}">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
</body>
</html>
